<a href="https://colab.research.google.com/github/lucifer-here/python-basic-programs/blob/main/basic_python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#factorial of a number
def fact(num):
    if num==1:
      return num
    else:
      return num * fact(num-1)  #recursive function 

print(fact(3))

6

In [5]:
#palindrome or not
def palindrome(num):
  x1=num[::-1]   #reversing the variable
  if x1==num:    #comparing whether it is equal to the original value 
    print("palindrome")
  else:
    print("not palindrome")


palindrome('madan')

not palindrome

In [24]:
# Function for nth Fibonacci number
#function
def Fibonacci(n):

	# Check if input is 0 then it will
	# print incorrect input
	if n < 0:
		print("Incorrect input")

	# Check if n is 0
	# then it will return 0
	elif n == 0:
		return 0

	# Check if n is 1,2
	# it will return 1
	elif n == 1 or n == 2:
		return 1

	else:
		return Fibonacci(n-1) + Fibonacci(n-2)
#driver
print(Fibonacci(int(input("enter a number"))))

enter a number0
0

In [30]:
#print fibbonacci series for n 

def fib(n):
  if n<0:
    return 0
  elif n==1:
    return 1
  else:
    return fib(n-2)+fib(n-1)
  

n=int(input("enter a number"))
for n in range(0,n):
  print(fib(n)," ")

enter a number10
0
1
1
2
3
5
8
13
21
34

In [40]:
#amstrong number or not
#amstrong is a such that sum of cube of all its digits is equal to the same number
def isamstrong(num):
  s=0
  temp=num
  while temp>0:
    c=temp%10
    s += c**3
    temp//=10
  if num==s:
    print("amstrong")
  else:
    print("not amstrong")
  
num=int(input("enter a number"))
print(isamstrong(num))

enter a number351
not amstrong
None

In [46]:
#calculator program
def add(a,b):
  return a+b
def subtract(a,b):
  return a-b
def multiply(a,b):
  return a*b
def divide(a,b):
  return a/b
def sqr(a,b):
  return a**b
def si(p,r,t):
  return (p*r*t)/100
def ci(p,r,t):
  return p* pow((1+r/100),t)


print(si(10000,10,5))
print(ci)

5000.0

In [49]:
#pattern program
num=5
m=(2*num)-2
for i in range(0,num):
  for j in range(0,m):
    print(end=" ")# 
  m=m-1
  for j in range(0,i+1):
    print("*",end=' ')
  print(" ")

        *
       * *
      * * *
     * * * *
    * * * * *

In [68]:
#leap year
#leap year has 29days in the month of feb and occurs every 4 years

year=int(input("enter a year"))
if year % 400==0:
   print("leap year")
if year % 4==0:
  print("leap year")
elif year %100==0:
  print("not a leap year")
else:
  print("not a leap year")

enter a year1900
leap year

In [89]:
#prime number or not
n=int(input("enter a number"))
print(isprime(n))
def isprime(n):
  for i in range(2,n):
      if n % i==0:
         print("not prime number")
         break
      else:
        print(" prime number")
        break

enter a number18
not prime number
None

In [97]:
#area in python
import math #has the math functions
pi=math.pi
def circle(radius):
  return pi*(radius**2)
def cube(side):
  return side**2
def cylinder(radius,height):
  return  2*pi*radius + 2*pi*h
def sphere(radius):
  return 2*pi*(radius**2)


print(round(circle(4)))  #use round when ever you need to round off a number

50

In [102]:
#python program to reverse a list


l=[1,2,3,4,5]
print(l[::-1])   #one way
l.reverse()      #another way using built in function
print(l)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [4]:
#REMOVE ALL DUPLICATE ELEMENTS FROM LIST
list1=[1,2,1,2,5,7,8]
#list1=set(list1)   #using set #method 1
print(list1)
#or 
res=[]
for i in list1:    #method 2
  if i not in res:
        res.append(i)
print(res)

#there are many methods use the one you like :)

[1, 2, 1, 2, 5, 7, 8]
[1, 2, 5, 7, 8]